.main-nav {
  background: none;
}

.main-nav__toggle {
  background: none;
}

.main-nav__list {
  background: none;
}

.main-nav__item {
  background: none;
}

.main-nav__item--active {
  background: none;
}

.main-nav__close {
  background: none;
}
