.social {
  background: none;
}

.social__title {
  background: none;
}

.social__list {
  background: none;
}

.social__item {
  background: none;
}

.social__link {
  background: none;
}


.social__link--twitter {
  background: none;
}

.social__link--facebook {
  background: none;
}

.social__link--youtube {
  background: none;
}
